<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="detail-page">
    <header class="site-header">
        <nav class="navigation">
            <a href="{{ url_for('main.posts_list') }}" class="nav-link">ホーム</a>
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="nav-link">ログイン</a>
                <a href="{{ url_for('auth.signup') }}" class="nav-link">サインアップ</a>
            {% else %}
                <a href="{{ url_for('main.create_post') }}" class="nav-link">新規投稿</a>
                <a href="{{ url_for('auth.logout') }}" class="nav-link">ログアウト</a>
            {% endif %}
        </nav>
    </header>
    <section class="detail-section">
        <div class="detail-container">
            <h2 class="section-title">開発体験共有SNS　Exvelop</h2>
            <h3 class="post-title">詳細</h3>
            <div class="post-content">
                <h4>作成者：{{ post.name }}</h4>
                <h5>タイトル: {{ post.title }}</h5>
                <p>{{ post.description }}</p>
                <p>{{ post.image_url }}</p>
                <p>{{ post.code }}</p>
                <p>作成日時: {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <a href="{{ url_for('main.posts_list') }}" class="btn btn-info" role="button">
                    一覧画面に戻る
                </a>
            </div> 
        </div>
    </section>
</body>
</html>
